<aside class="main-sidebar sidebar-dark-primary elevation-4 ">
    <!-- Brand Logo -->
    <img src="/Images/logo.png"
         alt="/AdminLTE Logo"
         class="brand-image"
         style="width: 100%;" />
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="/AdminLTE/dist/img/user2-160x160.jpg"
                     class="img-circle elevation-2"
                     alt="User Image" />
            </div>
            <div class="info">
                <a class="d-block">Phan Dy</a>
            </div>
        </div>
        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar"
                       type="search"
                       placeholder="Search"
                       aria-label="Search" />
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column text-md nav-compact nav-child-indent"
                data-widget="treeview"
                role="menu"
                data-accordion="false">
                <li class="nav-item
                    @(Context.Request.Path == "/"
                        ? "menu-open" : "")">
                    <a href="/" class="nav-link
                       @(Context.Request.Path == "/"
                            ? "active" : "")">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>ទំព័រដើម</p>
                    </a>
                </li>
                <li class="nav-item
                    @(Context.Request.Path == "/Administration/AdminLetter" ||
                            Context.Request.Path == "/Administration/BookingClothes" ||
                            Context.Request.Path == "/Administration/CategoryLetter" ||
                            Context.Request.Path == "/Administration/Discount" ||
                            Context.Request.Path == "/Administration/GraduateCertificate" ||
                            Context.Request.Path == "/Administration/Payment" ||
                            Context.Request.Path == "/Administration/Registration" ||
                            Context.Request.Path == "/Administration/Users" 
                            ? "menu-open" : "")">
                    <a href="#" class="nav-link
                       @(Context.Request.Path == "/Administration/AdminLetter" ||
                            Context.Request.Path == "/Administration/BookingClothes" ||
                            Context.Request.Path == "/Administration/CategoryLetter" ||
                            Context.Request.Path == "/Administration/Discount" ||
                            Context.Request.Path == "/Administration/GraduateCertificate" ||
                            Context.Request.Path == "/Administration/Payment" ||
                            Context.Request.Path == "/Administration/Registration" ||
                            Context.Request.Path == "/Administration/Users"
                            ? "active" : "")">
                        <i class="nav-icon fa-solid fa-circle-info"></i>
                        <p>
                            រដ្ឋបាល
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Administration" asp-action="Registration" class="nav-link @(Context.Request.Path == "/Administration/Registration" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ចូះឈ្មោះ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Administration" asp-action="Payment" class="nav-link @(Context.Request.Path == "/Administration/Payment" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>បង់ថ្លៃសិក្សា</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Administration" asp-action="Discount" class="nav-link @(Context.Request.Path == "/Administration/Discount" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>បញ្ចុះថ្លៃសិក្សា</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Administration" asp-action="BookingClothes" class="nav-link @(Context.Request.Path == "/Administration/BookingClothes" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>កក់សម្លៀកបំពាក់</p>
                            </a>
                        </li>
                        <li class="nav-item menu-is-opening menu-open">
                            <a href="#" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    សញ្ញាបត្រ
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: block;">
                                <li class="nav-item">
                                    <a asp-controller="Administration" asp-action="GraduateCertificate" class="nav-link @(Context.Request.Path == "/Administration/GraduateCertificate" ? "active" : "")">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>លិខិតបញ្ចប់ការសិក្សា</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Administration" asp-action="AdminLetter" class="nav-link @(Context.Request.Path == "/Administration/AdminLetter" ? "active" : "")">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>លិខិតរដ្ឋបាល</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-controller="Administration" asp-action="CategoryLetter" class="nav-link @(Context.Request.Path == "/Administration/CategoryLetter" ? "active" : "")">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>ប្រភេទលិខិត</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Administration" asp-action="Users" class="nav-link @(Context.Request.Path == "/Administration/Users" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>អ្នកប្រើប្រាស់</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item
                    @(Context.Request.Path == "/Academic/student" ||
                       Context.Request.Path == "/Academic/AssignStudentGroup" ||
                       Context.Request.Path == "/Academic/RequestQRCode" ||
                       Context.Request.Path == "/Academic/ResetQRCode" ||
                       Context.Request.Path == "/Academic/Course" ||
                       Context.Request.Path == "/Academic/Score" ||
                       Context.Request.Path == "/Academic/OtherBranchScore" ||
                       Context.Request.Path == "/Academic/ContinueEducation" ||
                       Context.Request.Path == "/Academic/DoctoralContract" ||
                       Context.Request.Path == "/Academic/GPA" ||
                       Context.Request.Path == "/Academic/Room" ||
                       Context.Request.Path == "/academic/details" ||
                       Context.Request.Path == "/Academic/Users"
                       
                            ? "menu-open" : "")">
                    <a href="#" class="nav-link
                       @(Context.Request.Path == "/Academic/student" ||
                       Context.Request.Path == "/Academic/AssignStudentGroup" ||
                       Context.Request.Path == "/Academic/RequestQRCode" ||
                       Context.Request.Path == "/Academic/ResetQRCode" ||
                       Context.Request.Path == "/Academic/Course" ||
                       Context.Request.Path == "/Academic/Score" ||
                       Context.Request.Path == "/Academic/OtherBranchScore" ||
                       Context.Request.Path == "/Academic/ContinueEducation" ||
                       Context.Request.Path == "/Academic/DoctoralContract" ||
                       Context.Request.Path == "/Academic/GPA" ||
                       Context.Request.Path == "/Academic/Room" ||
                       Context.Request.Path == "/academic/details" ||
                       Context.Request.Path == "/Academic/Users"
                            ? "active" : "")">
                        <i class="nav-icon fa-solid fa-graduation-cap"></i>
                        <p>
                            កិច្ចការសិក្សា
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Academic" asp-action="Student" class="nav-link
                               @(Context.Request.Path == "/Academic/student" || Context.Request.Path == "/Academic/details"
                                       ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>និស្សិត</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Academic" asp-action="AssignStudentGroup" class="nav-link @(Context.Request.Path == "/Academic/AssignStudentGroup" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>កំណត់ក្រុមនិស្សិត</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Academic" asp-action="RequestQRCode" class="nav-link @(Context.Request.Path == "/Academic/RequestQRCode" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ស្នើរសុំឃ្យូអរកូដ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Academic" asp-action="ResetQRCode" class="nav-link @(Context.Request.Path == "/Academic/ResetQRCode" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>បោះពុម្ពឃ្យូអរកូដ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Academic" asp-action="Course" class="nav-link @(Context.Request.Path == "/Academic/Course" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>វគ្គសិក្សា</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Academic" asp-action="Score" class="nav-link @(Context.Request.Path == "/Academic/Score" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ពិន្ទុ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Academic" asp-action="OtherBranchScore" class="nav-link @(Context.Request.Path == "/Academic/OtherBranchScore" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ពិន្ទុពីសាខាផ្សេង</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Academic" asp-action="ContinueEducation" class="nav-link @(Context.Request.Path == "/Academic/ContinueEducation" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>បន្តការសិក្សា</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Academic" asp-action="DoctoralContract" class="nav-link @(Context.Request.Path == "/Academic/DoctoralContract" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>កុងត្រាបណ្ឌិត</p>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a asp-controller="Academic" asp-action="GPA" class="nav-link @(Context.Request.Path == "/Academic/GPA" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>គ្រប់គ្រង GPA</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Academic" asp-action="Room" class="nav-link @(Context.Request.Path == "/Academic/Room" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>គ្រប់គ្រងបន្ទប់</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Academic" asp-action="Users" class="nav-link @(Context.Request.Path == "/Academic/Users" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>អ្នកប្រើប្រាស់</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa-solid fa-chalkboard-user"></i>
                        <p>
                            ព្រឹទ្ធបុរស
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="DeanCourse" asp-action="Index" class="nav-link @(Context.Request.Path == "/dean-courses" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>វគ្គសិក្សា</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Leaner" asp-action="Index" class="nav-link @(Context.Request.Path == "/learners" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>អ្នកសិក្សា</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="RecordMark" asp-action="Index" class="nav-link @(Context.Request.Path == "/record-marks" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ពិន្ទុ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="RestudyMark" asp-action="Index" class="nav-link @(Context.Request.Path == "/restudy-marks" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ពិន្ទុរៀនសង</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="StateExam" asp-action="Index" class="nav-link @(Context.Request.Path == "/state-exams" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ពិន្ទុប្រឡងបញ្ចប់</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="ThesisMark" asp-action="Index" class="nav-link @(Context.Request.Path == "/thesis-marks" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ពិន្ទុសារណា</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="PracticumMark" asp-action="Index" class="nav-link @(Context.Request.Path == "/practicum-marks" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ពិន្ទុការអនុវត្ត</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="AcademicUser" asp-action="Index" class="nav-link @(Context.Request.Path == "/dean-user" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>អ្នកប្រើប្រាស់</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item ">
                    <a href="#" class="nav-link ">
                        <i class="nav-icon fas fa-solid fa-book"></i>
                        <p>
                            បណ្ណាល័យ
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Student" asp-action="Index" class="nav-link ">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Log off</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Student" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Change Database</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Student" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Exit</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item ">
                    <a href="#" class="nav-link ">
                        <i class="nav-icon fa-solid fa-users-gear"></i>
                        <p>
                            ធនធានមនុស្ស
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Student" asp-action="Index" class="nav-link ">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Log off</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Student" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Change Database</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Student" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Exit</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item
                    @(Context.Request.Path == "/CommandTask/degree" ||
                            Context.Request.Path == "/CommandTask/PromotionGroup" ||
                            Context.Request.Path == "/CommandTask/Branch" ||
                            Context.Request.Path == "/CommandTask/University" ||
                            Context.Request.Path == "/CommandTask/Faculty" ||
                            Context.Request.Path == "/CommandTask/School" ||
                            Context.Request.Path == "/CommandTask/Field" ||
                            Context.Request.Path == "/CommandTask/FieldCertificate" ||
                            Context.Request.Path == "/CommandTask/Province" ||
                            Context.Request.Path == "/CommandTask/Race" ||
                            Context.Request.Path == "/CommandTask/Nationality" ||
                            Context.Request.Path == "/CommandTask/Disability"
                            ? "menu-open" : "")">
                    <a href="#" class="nav-link
                        @(Context.Request.Path == "/CommandTask/degree" ||
                            Context.Request.Path == "/CommandTask/PromotionGroup" ||
                            Context.Request.Path == "/CommandTask/Branch" ||
                            Context.Request.Path == "/CommandTask/University" ||
                            Context.Request.Path == "/CommandTask/Faculty" ||
                            Context.Request.Path == "/CommandTask/School" ||
                            Context.Request.Path == "/CommandTask/Field" ||
                            Context.Request.Path == "/CommandTask/FieldCertificate" ||
                            Context.Request.Path == "/CommandTask/Province" ||
                            Context.Request.Path == "/CommandTask/Race" ||
                            Context.Request.Path == "/CommandTask/Nationality" ||
                            Context.Request.Path == "/CommandTask/Disability"
                               ? "active" : "")">
                        <i class="nav-icon fa-solid fa-gear"></i>
                        <p>
                            កំណត់ទូទៅ
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="CommandTask" asp-action="Degree" class="nav-link @(Context.Request.Path == "/CommandTask/degree" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>កម្រិត</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CommandTask" asp-action="PromotionGroup" class="nav-link @(Context.Request.Path == "/CommandTask/promotiongroup" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ជំនាន់, ក្រុម</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CommandTask" asp-action="Branch" class="nav-link @(Context.Request.Path == "/CommandTask/branch" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>សាខា</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CommandTask" asp-action="University" class="nav-link @(Context.Request.Path == "/CommandTask/university" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>សាកលវិទ្យាល័យ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CommandTask" asp-action="Faculty" class="nav-link @(Context.Request.Path == "/CommandTask/faculty" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>មហាវិទ្យាល័យ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CommandTask" asp-action="School" class="nav-link @(Context.Request.Path == "/CommandTask/school" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>សាលា</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CommandTask" asp-action="Field" class="nav-link @(Context.Request.Path == "/CommandTask/field" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ជំនាញ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CommandTask" asp-action="FieldCertificate" class="nav-link @(Context.Request.Path == "/CommandTask/fieldcertificate" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ជំនាញសញ្ញាបត្រ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CommandTask" asp-action="Province" class="nav-link @(Context.Request.Path == "/CommandTask/province" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ខេត្ត</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CommandTask" asp-action="Race" class="nav-link @(Context.Request.Path == "/CommandTask/race" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ជនជាតិ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CommandTask" asp-action="Nationality" class="nav-link @(Context.Request.Path == "/CommandTask/nationality" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>សញ្ជាត</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="CommandTask" asp-action="Disability" class="nav-link @(Context.Request.Path == "/CommandTask/disability" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>ពិការភាព</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Profile
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Student" asp-action="Index" class="nav-link @(Context.Request.Path == "/about" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>About</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Student" asp-action="Index" class="nav-link @(Context.Request.Path == "/privacy" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Privacy</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Logout" class="nav-link @(Context.Request.Path == "/login" ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Logout</p>
                            </a>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </nav>
    </div>
</aside>