@model List<BBU_SYSTEM.Models.Student>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Branch</h3>
            </div>
            <div class="card-body">
                <table id="tblStudent" class="table table-bordered table-striped" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Student Id</th>
                            <th>Name English</th>
                            <th>Name Khmer</th>
                            <th>Gender</th>
                            <th>DOB</th>
                            <th>Phone</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var data in Model)
                        {
                            <tr>
                                <td>@data.student_id</td>
                                <td>@data.student_name</td>
                                <td>@data.student_name_in_khmer</td>
                                <td>@data.sex</td>
                                <td>@data.date_of_birth</td>
                                <td>@data.phone</td>
                                <td>
                                </td>
                            </tr>
                        }*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<partial name="_DiscountModal" />
<script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
<script>
   const students = @Html.Raw(Json.Serialize(Model));
    $(document).ready(function () {
        $("#tblStudent").DataTable().clear().destroy();
        $("#tblStudent")
            .DataTable({
                responsive: true,
                lengthChange: true,
                autoWidth: true,
                data: students,
                //ajax: {
                //    url: `/api/mis/${campus}/students/name/phan dy`,
                //    type: "GET",
                //    dataSrc: "data",
                //},
                columns: [
                    { data: "student_id" },
                    { data: "student_name" },
                    { data: "student_name_in_khmer" },
                    { data: "sex" },
                    {
                        //data: "date_of_birth",
                        data: null,
                        render: function (data, type, row) {
                            const date = formatDate(row.date_of_birth);
                            return date;
                        }
                    },
                    { data: "phone" },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return `<a onclick="OnView('${row.student_id}')" class="btn btn-success btn-sm" style="display: block;margin:.2rem 0rem"><i class="fas fa-eye"></i> View</a>`;
                        }
                    }
                ]
            })
            .buttons()
            .container()
            .appendTo("#example1_wrapper .col-md-6:eq(0)");
    });
    function OnView(id) {
        $("#DiscountModal").modal('show');
        $("#tblDiscountDetail").DataTable().clear().destroy();
        $("#tblDiscountDetail")
            .DataTable({
                responsive: true,
                lengthChange: true,
                autoWidth: true,
                //data: students,
                //ajax: {
                //    url: `/api/mis/${campus}/students/name/phan dy`,
                //    type: "GET",
                //    dataSrc: "data",
                //},
                //columns: [
                //    { data: "student_id" },
                //    //{ data: "student_name" },
                //    //{ data: "student_name_in_khmer" },
                //    { data: "sex" },
                //    //{
                //    //    //data: "date_of_birth",
                //    //    data: null,
                //    //    render: function (data, type, row) {
                //    //        const date = formatDate(row.date_of_birth);
                //    //        return date;
                //    //    }
                //    //},
                //    { data: "phone" },
                //    //{
                //    //    data: null,
                //    //    render: function (data, type, row) {
                //    //        return `<a onclick="OnView('${row.student_id}')" class="btn btn-success btn-sm" style="display: block;margin:.2rem 0rem"><i class="fas fa-eye"></i> View</a>`;
                //    //    }
                //    //}
                //]
            })
            .buttons()
            .container()
            .appendTo("#example1_wrapper .col-md-6:eq(0)");
    }
</script>